<div class="row m-2">
  <div class="card col-2 border-0 ">
    <h4 class="text-center font-weight-bold">
      <hr>
      Categories
      <hr>
    </h4>
    <div>
      <a id="allProdCat" class="page-link list-group-item list-group-item-action" (click)="changeCategory()">All
        products</a>
      <a id="catSelect-{{i+1}}" class="page-link list-group-item list-group-item-action"
         *ngFor="let cat of categories; let i = index"
         [class.active]="cat == selectedCategory" (click)="changeCategory(cat.name) ">
        {{cat.name}}</a>
    </div>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="row px-3">
      <div class="card  m-2 p-0 shadow-sm" id="prodCard-{{i+1}}"
           style="width: 18rem; " *ngFor="let product of getAllProducts(); let i = index;">
        <div class="card align-items-center p-0 m-0 rounded-0 border-0 detailsEvent">
          <div class="col-xl-12 px-1 py-1">
            <div class="d-flex justify-content-end">
              <button class="btn p-1 text-warning" (click)="openAddToWishList(product.id)"
                      style="z-index: 5; position: absolute;" id="addToWish-{{i+1}}">
                <i class="far fa-heart material-icons"></i>
              </button>
            </div>
            <div class="d-flex justify-content-center">
              <img style="width: 12rem; height: 12rem;" id="prodImg-{{i+1}}"
                   class="card-img-top" routerLink="/product-details/{{product.id}}" [src]="product.image[0]">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <h2 class="card-title text-left  col-sm" id="prodName-{{i+1}}">{{product.name}}</h2>
          </div>
          <hr>
          <h3 id="prodCat-{{i+1}}">{{product.category}}</h3>
          <div class="row">
            <div class="col-sm-6">
              <h3><span class="font-weight-normal " id="prodPrice-{{i+1}}"> {{product.price}} </span>
                <span class="font-weight-normal"> ₴ </span>
              </h3>
            </div>
            <div>
              <div class="d-flex align-items-start justify-content-end">
                <app-add-to-cart-button [product]="product" [added]="buttonsMap.get(product)"
                                        (newItemEvent)="updateProductStatus($event, product)"></app-add-to-cart-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center" id="pagination">
  <div class="btn-group pull-xs-right">
    <div class="btn-group float-right m-0">
      <button id="paginationNumb" *counter="let page of pageCount" (click)="changePage(page)"
              class="btn btn-outline-primary" [class.active]="page == selectedPage">
        {{page}}
      </button>
    </div>
  </div>
</div>

