<div class="snippet-content float-right" fxLayout="column" fxLayoutAlign="space-around center" >
  <button class="btn btn-success" (click)="onAddToCart()">
    <div [@buttonTextStateTrigger]="cartButtonTextState"
         (@buttonTextStateTrigger.done)="buttonTextTransitioned($event)">
      <fa-icon class="material-icons" [icon]="cartButtonText"></fa-icon>
    </div>
  </button>
</div>


<!--<div class="snippet-content" fxLayout="column" fxLayoutAlign="space-around center" >-->
<!--  <button class="btn text-warning "-->
<!--          (click)="onAddToWishList()">-->
<!--    <div [@buttonTextStateTrigger]="wishButtonTextState"-->
<!--         (@buttonTextStateTrigger.done)="wishButtonTextTransitioned($event)">-->
<!--      <fa-icon [icon]="wishButtonText" class="material-icons"></fa-icon>-->
<!--    </div>-->
<!--  </button>-->
<!--</div>-->
