.normal-form{

}

.control-column{
  margin-left: 0;
}

.controls-container{
  width: 65%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-container > *{
  width: 100%;
}

.edit-user-spacer{
  flex: 1 1 auto;
}
